*.pyc
.vscode
build
data
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
point_cloud/*
test/*
train/*
cameras.json
events.out.tfevents.*
*.csv
*.ply
*.log
*.png

